*{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
		background-image: url('calcBackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'Vollkorn', serif;
	opacity: 1;
}

#calculatorBody{
	margin-top: 20%;
	background-blend-mode: darken;
	height: 100%;
	width: 100%;
}

#calculatorName{
	color: #036A71;
	border-radius: 5px;
	box-shadow: 5px 5px 20px black;
}

#answerText{
	display: inline-flex;
    align-items: center;
    justify-content: center;
	color: #0A096F;
	font-size: 30px;
	height: 45px;
	padding-right: 5px;
	text-align: center;
}

input{
	background: none;
}

.btn{
	box-shadow: 2px 2px 2px #333;
	background-color: #eee;
}
#buttonRows{
	margin-top: 5px;
	margin-bottom: 30px;
}
#nonClearBtns {
display: inline-flex;
    align-items: center;
    justify-content: center;
}

#numberBtns{
 padding: 10px;
}

#gif-container {
	display: none;
}

img{
	width: 200px;
	border-radius: 20px;
}

@media(max-width:360px){

	#calculatorName{
		font-size: 15px;
	}

input#answerText.num {
	height: 40px;
}

	#answerBox{
	background: white;
	border: 1px solid black;
	height: 40px;
	text-align: right;

}

#answerText{
	display: inline-flex;
    align-items: center;
    justify-content: center;
	color: #4aaae5;
	font-size: 20px;
	height: 20px;
	padding-right: 5px
	
}
}
